@model IEnumerable<MobileData>

<table class="table table-striped">
    <thead>
    <tr>
        <th>#</th>
        <th>Acc - X</th>
        <th>Acc - Y</th>
        <th>Acc - Z</th>
        <th>Geo - X</th>
        <th>Geo - Y</th>
        <th>Picture</th>
    </tr>
    </thead>
        @{ var i = 1;}
    @foreach (var mobileDate in Model)
    {
        <tr>
            <td>@i</td>
            <td>@mobileDate.xAco</td>
            <td>@mobileDate.yAco</td>
            <td>@mobileDate.zAco</td>
            <td>@mobileDate.xGeo</td>
            <td>@mobileDate.yGeo</td>
            <td>-</td>
        </tr>
        i++;
    }
        
        
</table>