@model IEnumerable<MobileData>


<table id="table-container" class="table table-hover text-center" style="vertical-align: middle; width: 100%">
    <thead>
    <tr>
        <th>#</th>
        <th>Acc - X</th>
        <th>Acc - Y</th>
        <th>Acc - Z</th>
        <th>Geo - X</th>
        <th>Geo - Y</th>
        <th>Picture</th>
    </tr>
    </thead>
    
    
    @{ var i = Model.Count();}
    @foreach (var mobileDate in Model)
    {
        <tr style="vertical-align: middle; height: 200px">
            <td>@i</td>
            <td>@mobileDate.xAco</td>
            <td>@mobileDate.yAco</td>
            <td>@mobileDate.zAco</td>
            <td>@mobileDate.xGeo</td>
            <td>@mobileDate.yGeo</td>
            @* <td> *@
            @* <div id="@mobileDate.Id" class="mazemap" style="position: relative; width: 10rem; height: 6rem;"></div></td> *@
            <td><img src="https://maps.googleapis.com/maps/api/staticmap?center=52.237636,6.8607345&zoom=18&size=200x200&scale=2&maptype=roadmap\
                &markers=color:red%7Clabel:H%7C52.237636,6.8607345&key=AIzaSyC0mLIcD6TdgT0xuRJ3BxU9eD86nWf7Da4"/></td>
        </tr>
        i--;
    }
</table>

<button class="btn btn-dark" id="stop">STOP</button>
        
