@model IEnumerable<BluetoothLeDevice>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}


<table class="table table-light">
    <tr>
        <th>testNr</th>
        <th>name</th>
        <th>rssi</th>
        <th>txpower</th>
        <th>distance</th>
        <th>is beacon?</th>
    </tr>
    
    @foreach (var bluetooth in Model)
    {
        <tr>
            <tr>@bluetooth.TestNr</tr>
            <td>@bluetooth.NameofBeacon</td>
            <td>@bluetooth.Rssi</td>
            <td>@bluetooth.TxPower</td>
            <td>@bluetooth.EstimatedDistance</td>
            <td>@bluetooth.IsBeacon</td>
        </tr>
    }
</table>

