@model List<SummeryViewModel>

@{
    ViewBag.Title = "Summary";
    Layout = "_Layout";
}

<style>
    .test-container {
        width: 60%;
        margin: auto auto 1rem auto;
        border-radius: 1rem;
        padding: 1rem;
        background: whitesmoke;
    }
    
    table {
        /* width: 50%; */
        margin-top: 1rem;
    }
    
</style>


@if (!Model.Any())
{
    <h3 class="text-center">No Tests Yet!</h3>
    
}
else
{
    foreach(var test in Model)
     {
         <div class="test-container">
             <div class="text-center"><strong>Test Number: @test.TestNumber</strong></div>
             
             <table class="table">
                 <thead>
                 <tr>
                     <th>Start Time:</th>
                     <td>@test.StartTime.Add(new TimeSpan(2,0,0)).ToString(@"hh\:mm")</td>
                     <th>End Time:</th>
                     <td>@test.EndTime.Add(new TimeSpan(2,0,0)).ToString(@"hh\:mm")</td>
                     <th>Period:</th>
                     <td>@Math.Round(((test.EndTime - test.StartTime).TotalMinutes), 2) Minutes</td>
                 </tr>
                 </thead>
                 
                 <tr>
                     <th>Bumps:</th>
                     <td>0</td>
                     <th>Holes:</th>
                     <td>3</td>
                     <th>Total:</th>
                     <td>3</td>
                 </tr>
                 
                 <tfoot class="text-center">
                 <td colspan="2"><button class="btn btn-secondary" onclick="location.href = '@Url.Action("StaticData","Report", new {testNumber = test.TestNumber})'">Show All Data</button></td>
                 <td colspan="2"><button class="btn btn-info" onclick="location.href = '@Url.Action("StaticMap","Report", new {testNumber = test.TestNumber})'">Show Full Map</button></td>
                 <td colspan="2"><button class="btn btn-danger" onclick="location.href = '@Url.Action("DeleteAll","Home", new {testNumber = test.TestNumber})'">Delete Test</button></td>
                 </tfoot>
             </table>
             
             
         </div>
     }
}
